{%- assign collection1 = collections[section.settings.Four_collections] -%}

<Section style="background-color:{{section.settings.Product_bg_color}};" class="four_collections">
    <div class="container">
    <div class="style_watch">
      <h3>{{section.settings.collection_heading}}</h3>
    </div>
    
    <div class="row">
        {% for product in collection1.products limit: section.settings.max_products  %}
        <div class="col-md-3">
          <a href="{{product.url}}">
          <img src="{{ product.featured_image  | img_url:'300x'}}" style="width:100%;height:auto">
          <div class="four_collection_text">
            <h5 >{{product.title}}</h5>
            <span >{{product.price |money_with_currency}}</span>
          </div>
        </a>
        </div>
  
        {%endfor%}
    
      
    </div>
   
  </div>
  </Section>
  {% schema %}
{
  "name": "Four_Collection",
  "class": "index-section index-section--flush",
  "settings": [
    {
      "type": "collection",
      "id": "Four_collections",
      "label": "Show Products in Collection"
    },

    {
      "type": "text",
      "id": "collection_heading",
      "label":"Subheading",
      "default":"Today's Outfit inspiration"
    },
    {
      "type": "color",
      "id": "code_sale_color",
      "label":"Select a color",
      "default":"#ffffff"
    },
    {
        "type": "color",
        "id": "Product_bg_color",
        "label": "Background color",
        "default":"#ffffff"
        
    },
   
    {
        "type":"text",
        "id":"max_products",
        "label":"Maximun Amount Of Product",
        "default":"4"
    }

  ],
  "presets": [
    {
      "name":"Four Products collection"
        
      ,
      "category":"product"
    }
  ]
}

{% endschema %}
